<div class="employee">
    <h1>update roster for: <span>{{theUsername}}</span></h1>

    <form action="/waiters/{{theUsername}}" method="post">
        {{#each selectedDays}}
            <div class="weekday-checkboxes">
                <label for="{{weekday}}">
                    {{weekday}}
                    <input type="checkbox" id="{{this.weekday}}" name="weekday" value="{{id}}" {{#if checked}}
                        checked {{/if}}>
                </label>
              
                {{/each}}
    
       <div> <button type="submit">submit</button></div>
    </form>
    <div class="back">
      <a href="/">Cancel</a>
    </div>
   
    {{#if addMsg}}
    <div class="success-msg">
      <i class="fa fa-check"></i>
      {{addMsg}}
    </div>
    {{/if}}
     <script>

        setTimeout(function () {
        document.querySelector('.success-msg').style.display = 'none'; },
        3500);
      </script>

      {{#if themsg}}
      <div class="danger">
      <i class="fa fa-close" style="font-size:20px;color:red"></i>
      {{themsg}}
    </div>
      {{/if}}
       <script>

        setTimeout(function () {
        document.querySelector('.danger').style.display = 'none'; },
        3500);
      </script>
</div>