<div class="admin">
    <h1>Roster</h1>
    <table>
  <tr>
    <th>DAYS</th>
    <th>EMPLOYEES</th>
  </tr>
  <tr>
    <td>MONDAY</td>
    <td>{{MONDAY}}</td>
  </tr>
   <tr>
    <td>TUESDAY</td>
    <td>{{TUESDAY}}</td>
  </tr>
   <tr>
    <td>WEDNESDAY</td>
    <td>{{WEDNESDAY}}</td>
  </tr>
   <tr>
    <td>THURSDAY</td>
    <td>{{THURSDAY}}</td>
  </tr>
   <tr>
    <td>FRIDAY</td>
    <td>{{FRIDAY}}</td>
  </tr>
   <tr>
    <td>SATURDAY</td>
    <td>{{SATURDAY}}</td>
  </tr>
  

</table>

 <div class="nav">
		<a href="/create"><button>new employee</button></a>
	</div>
</div>