<div class="container">

  <section class="main">

    <section class="attendance">

      <div class="together">
        <div class="targets" style="width: 30%;">
          <h2>Targets</h2>
          <div
            class="green"
            style="background-color: #6bf677; font-size:large; height:2.5em"
          >
            enough waiters for the day
          </div>
          <div
            class="red"
            style="background-color: crimson; font-size:large; height:2.5em"
          >
          excess waiters for the day
          </div>
          <div
            class="orange"
            style="background-color: rgb(246, 198, 109); font-size:large; height:2.5em"
          >
            less waiters for the day
          </div>
        </div>

        <div class="new" style="width: 30%;">
          <h2>Add new waiter</h2>
            <label>Enter waiter username: </label>
          <form action="/create" method="post">
            <input type="text" name="newWaiter" id="" style="height: 2.3em; border-radius:5px; width: 80%;margin-top:1em" />
         <div>
             <button
              type="submit"
              style="  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  background:  #4AD489;;
  border: 1px solid #4AD489;
  width:80%;
  margin-top:1em"
            > submit</button>
         </div>
          </form>
          {{#if newMsg}}
            <div class="success-msg">
              {{newMsg}}
            </div>
          {{/if}}
          <script>

            setTimeout(function () {
            document.querySelector('.success-msg').style.display = 'none'; },
            3500);
          </script>
          {{#if existMsg}}
            <div class="danger">
              {{existMsg}}
            </div>
          {{/if}}

        </div>
      </div>

      <div class="attendance-list">
        <form action="/reset" method="post">
          <h1>Roster <button class="reset">Reset roster</button></h1>
        </form>

        <table class="table">
          <thead>
            <tr>
              <th>Weekday</th>
              <th>Waiters</th>
            </tr>
          </thead>
          <tbody>
            <tr class="{{monClass}}">

              <td>Monday</td>
              <td>{{waitersList.Monday}}</td>
            </tr>
            <tr class="{{tuesClass}}">
              <td>Tuesday</td>
              <td>{{waitersList.Tuesday}}</td>
            </tr>
            <tr class="{{wedClass}}">
              <td>Wednesday</td>
              <td>{{waitersList.Wednesday}}</td>
            </tr>
            <tr class="{{thursClass}}">
              <td>Thursday</td>
              <td>{{waitersList.Thursday}}</td>
            </tr>
            <tr class="{{friClass}}">
              <td>Friday</td>
              <td>{{waitersList.Friday}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    {{#if resetMessage}}
      <div class="success-msg">
        <i class="fa fa-check"></i>
        {{resetMessage}}
      </div>
    {{/if}}
    <script>

      setTimeout(function () {
      document.querySelector('.success-msg').style.display = 'none'; }, 3510);
    </script>
  </section>
</div>