<div class="container">

    <section class="main">
      <div class="main-top">
        <h1>Waiters</h1>
       
      </div>
      <div class="users">
       {{#each theWaiters}}
        <div class="card">
          <h4><span>Name: </span>{{username}}</h4>
          <p><span>ID: </span>{{id}}</p>
          <button>Add days<a href="/waiters/{{username}}"></a></button>
        </div>
       {{/each}}
      </div>

      <section class="attendance">
        <div class="attendance-list">
          <h1>Roster <button class="reset">Reset roster</button></h1>
          <table class="table">
            <thead>
              <tr>
               
                <th>Weekday</th>
                <th>Waiters</th>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday</td>
                <td>{{waitersList.Monday}}</td>
              </tr>
                 <tr>
                <td>Tuesday</td>
                <td>{{waitersList.Tuesday}}</td>
              </tr>
               <tr>
                <td>Wednesday</td>
                <td>{{waitersList.Wednesday}}</td>
              </tr>
                 <tr>
                <td>Thursday</td>
                <td>{{waitersList.Thursday}}</td>
              </tr>
                  <tr>
                <td>Friday</td>
                <td>{{waitersList.Friday}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </section>
  </div>